*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

body{
    width: 100vw;
    height: 100vh;
}
.conteiner{
    border: solid black 1px;
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    
}

header{
    margin: 0 auto;
    width: 16%;
    text-align: center;

}
header img{
    width: 55px;
}
main{
    width: 100%;
    text-align: center;

    p{
        width: 70%;
        margin: 20px auto;
        padding: 16px;
        text-align: center;

        background-color: rgba(0, 69, 149, 0.153);
    }
    img{
        width: 20%;
        padding: 4px;
        border: solid red 2px;

    }
}

.stack{
    width: 80%;
    margin: 0 auto;
    text-align: center;

    div{
        width: 200px;
        border: solid 1px black;
        display: inline-block;
        padding: 24px;
        margin: 16px;
        border: 2px solid red;

        background-color: rgba(0, 0, 112, 0.911);
        color: aliceblue;

        h1{
            font-size: 20px;
            margin-bottom: 5px;
        }
        p{
            font-size: 14px;
        }
    }
}